.App {
  text-align: center;
}

.badge {
  margin:5px;
}


.aligner {
  display: flex;
  height: 100vh;  
}

.aligner > div {
  width: 100%;
  margin-bottom: 20px;
  margin-top:40vh;
  text-align: center;
  align-self: center;
}


body {
  background-image: url("../public/jk_jess-johannes_06.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}